# Виртуална среда
venv/
env/
ENV/
.env
.env.local
.env.
.venv/

# Кеш файлове на Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
.Python

# Файлове със секретни ключове и пароли (за бъдещето)
.env
secrets.json

# База данни (ако ползвахме SQLite, но ние сме с Postgres, все пак е добра практика)
*.db
*.sqlite3

# Системни файлове (Windows/Mac)
.DS_Store
Thumbs.db

# VS Code настройки
.idea/
.vscode/
*.iml

*.log
.jsonenglish-app-4ab7d-firebase-adminsdk-fbsvc-eaea0414ee.json
english-app-4ab7d-firebase-adminsdk-fbsvc-eaea0414ee.json
